 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <!-- Core Libraries -->
 <script src="scripts/Components/angular/angular.js"></script>
 <script src="scripts/Components/angular-resource/angular-resource.js"></script>
 <script src="scripts/Components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
 <script src="scripts/Components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
 <script src="scripts/Components/blueimp-file-upload/js/jquery.fileupload.js"></script>

 <!-- External Libraries -->
 <script src="scripts/Components/angular-local-storage/angular-local-storage.js"></script>

 <!-- Bootstrap -->
 <script src="scripts/bootstrap.js"></script>

 <!-- Application Scripts -->
 <script src="scripts/Collections/PagesCollection/page_controller.js"></script>
 <script src="scripts/Collections/TodosCollection/todo_add_controller.js"></script>
 <script src="scripts/Collections/TodosCollection/todo_upload_controller.js"></script>
 <script src="scripts/Collections/TodosCollection/todos_upload_controller.js"></script>
 <script src="scripts/Services/UploadService/uploader_service.js"></script>
 <script src="scripts/Services/UploadService/uploader_directive.js"></script>